:root {
    --clr-1: #064e3b;
    --clr-2: #065f46;
    --clr-3: #047857;
    --clr-4: #059669;
    --clr-5: #10b981;
    --clr-6: #34d399;
    --clr-7: #6ee7b7;
    --clr-8: #a7f3d0;
    --clr-9: #d1fae5;
    --clr-10: #ecfdf5;
    --clr-grey: #818885;
}

* {
    /* Include padding / margin with width / height calcs */
    box-sizing: border-box;
}

body, html, ul, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: max-content 1fr;
    padding: 0.5rem 1rem;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--clr-9);
    min-width: 500px;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#applications {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
}

section {
    padding: 0.5rem 1rem;
}

header .connection {
    display: flex;
    gap: 10px;
    align-content: center;
}

#inventory {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 450px;
    align-items: center;
}

#inv-add {
    background-color: var(--clr-1);
    color: var(--clr-9);
    border-style: solid;
    border-color: black;
    width: max(30%, 200px);
    justify-self: center;
}

#inv-add-form {
    background-color: var(--clr-5);
    border: 2px solid slategrey;
    padding: 1rem 0.5rem;
    align-self: stretch;
}

#inv-add-form fieldset {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    row-gap: 5px;
}

#inv-add-form input[type="number"] {
    max-width: 3rem;
}

#inv-add-form input[type="date"] {
    max-width: 8rem;
}

#inv-add:hover {
    background-color: var(--clr-8);
    color: var(--clr-2);
}

.inventory-item {
    display: flex;
    flex-wrap: nowrap;
    color: gainsboro;
    gap: 10px;
    align-self: stretch;
    background-color: var(--clr-3);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.inventory-item-delete-button {
    background-image: url("/images/trash-icon.png"); 
    border-style: none; 
    background-color: transparent; 
    width: 22px; 
    height: min(25px, 100%); 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 5px;
    border-radius: 5px;
}

.inventory-item-delete-button:hover {
    background-color: var(--clr-10);
}

.inventory-item-sublabel {
    color: lightgrey;
}

.inventory-item-sublabel.suspended {
    color: var(--clr-8);
}

.inventory-item.out-of-stock {
    background-color: maroon;
}

.inventory-item.suspended {
    opacity: 40%;
}

.hidden {
    visibility: hidden;
    /* The absolute pos removes from flow */
    position: absolute;
}

.connected {
    color: var(--clr-2);
}

.abs-zero {
    position: absolute;
    top: 0;
    left: 0;
}