/* base.css always needs to be included in html first in order to use base properties */
:root {
    --clr-1: #064e3b;
    --clr-2: #065f46;
    --clr-3: #047857;
    --clr-4: #059669;
    --clr-5: #10b981;
    --clr-6: #34d399;
    --clr-7: #6ee7b7;
    --clr-8: #a7f3d0;
    --clr-9: #d1fae5;
    --clr-10: #ecfdf5;
    --clr-grey: #818885;

    --clr-a1: #654f6f;
    --clr-a2: #5c5d8d;
    --clr-a3: #99a1a6;
    --clr-a4: #a8c69f;
    --clr-a5: #cce2a3;
}

* {
    /* Include padding / margin with width / height calcs */
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body, html, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: auto;
}

html {
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

.hidden {
    visibility: hidden;
    /* The absolute pos removes from flow */
    position: absolute;
}

.abs-zero {
    position: absolute;
    top: 0;
    left: 0;
}

.bare-link {
    text-decoration: none;
    color: inherit;
}

.bare-link:visited {
    text-decoration: none;
    color: inherit;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: bold;
}