body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: var(--clr-8);
    gap: 10px;
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    /* max-height: 100%; */
    transition: background-color 0.5s linear;
    overflow-y: auto;
}

section {
    padding: 0.5rem 1rem;
}

.dual #store {
    background-color: var(--clr-a2);
}

#store {
    color: white;
}

body.store-style {
    background-color: var(--clr-a2);
}

#inventory-store-container.dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.store-style h1, .store-style h2, .store-style label {
    color: white;
}

#summary-slider {
    width: 100%;
    height: 100%;
}

#inventory-store-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#inventory-store-container.dual {
    overflow: hidden;
}

#inventory:not(.hidden), 
#store:not(.hidden) {
    padding-top: 0;
    position: relative;
    top: 0;
    left: 0;
}

#inventory, #store {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 450px;
    height: 100%;
    min-height: 300px;
    align-items: center;
    border-radius: 15px;
}

.dual #inventory, .dual #store {
    overflow-y: scroll;
}

#inv-add {
    background-color: var(--clr-1);
    color: var(--clr-9);
    border-style: solid;
    border-color: black;
    width: max(30%, 200px);
    justify-self: center;
}

#inv-add:not(.hidden) {
    position: sticky; 
    bottom: 0; 
    left: 0;
}

#inv-add-form {
    background-color: var(--clr-5);
    border: 2px solid slategrey;
    padding: 1rem 0.5rem;
    align-self: stretch;
}

#inv-add-form:not(.hidden) {
    position: sticky; 
    bottom: 0;
    left: 0;
}

#inv-add-form fieldset {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    row-gap: 5px;
}

#inv-add-form input[type="number"] {
    max-width: 3rem;
}

#inv-add-form input[type="date"] {
    max-width: 8rem;
}

#inv-add:hover {
    background-color: var(--clr-5);
    color: var(--clr-1);
}

.inventory-item {
    display: flex;
    flex-wrap: nowrap;
    color: gainsboro;
    gap: 10px;
    align-self: stretch;
    background-color: var(--clr-3);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.icon-button::after,
.icon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 3px;
    width: 100px;
    opacity: 0;
    background-color: whitesmoke;
    border-radius: 10px 0 0 10px;
    transition: opacity linear 0.15s;
    transition-delay: 0;
}

.icon-button::before {
    right: 100%;
}

.icon-button::after {
    left: 100%;
}

.icon-button:hover::after,
.icon-button:hover::before {
    opacity: 95%;
    transition-delay: 1s;
}

.icon-button {
    position: relative;
    border-style: none; 
    width: 22px; 
    height: min(25px, 100%); 
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 5px;
    filter: brightness(70%);
    border-radius: 5px;
    text-align: center;
}

.icon-button:hover {
    filter: brightness(100%) invert(10%);
}

.inventory-item-delete-button {
    background-image: url("/images/trash-icon.png"); 
}

.inventory-item-to-store-button {
    background-image: url("/images/arrow.png");
    filter: invert(20%);
}

.inventory-item-to-store-button.toggled {
    transform: rotateY(180deg);
    filter: invert(80%);
}

.inventory-item-to-store-button.toggled:hover {
    filter: invert(100%);
}

.inventory-item-to-store-button:hover {
    filter: invert(0);
}

.inventory-item-to-store-button.toggled::before {
    content: "";
}

.inventory-item-to-store-button.toggled::after {
    content: "Remove from store";
    width: 120px;
    /* Counter transform */
    transform: rotateY(180deg);
    /* Counter filter */
    filter: invert(100%);
}

.inventory-item-to-store-button::before {
    content: "Add to Store";
}

.inventory-item-delete-button.icon-button::before {
    content: "Delete item";
}

.inventory-item-sublabel {
    color: lightgrey;
}

.inventory-item-sublabel.suspended {
    color: var(--clr-8);
}

.inventory-item.out-of-stock {
    background-color: maroon;
}

.inventory-item.suspended {
    opacity: 40%;
    background-color: grey;
}

.dual #inventory {
    background-color: var(--clr-6);
}

#fridge-store-button {
    align-self: stretch;
    display: flex;
    height: fit-content;
    padding: 2px;
    justify-content: center;
}

#fridge-store-button button {
    outline: 2px solid black;
    border: none;
    font-weight: bold;
    font-size: 16px;
    width: 8rem;
    padding: 0.5rem 1rem;
    opacity: 50%;
}

#fridge-store-button button.toggled {
    opacity: 100%;
    color: white;
}

#toggle-store-btn {
    background-color: var(--clr-a2);
}

#toggle-fridge-btn {
    background-color: var(--clr-3);
}

#fridge-store-button button:hover:not(.toggled) {
    opacity: 95%;
    outline-color: white;
}

.summary-hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
}

#fridge-header {
    background-color: var(--clr-6);
}

#store-header {
    background-color: var(--clr-a2);
}

#fridge-header:not(.hidden), #store-header:not(.hidden) {
    border-bottom: 2px inset grey;
    padding: 0.5rem;
    width: 100%;
    background-color: none;
    position: sticky;
    top: 0;
    left: 0;
}

header .connection {
    display: flex;
    gap: 10px;
    align-content: center;
}

header .closed {
    color: red;
}

.connected {
    color: var(--clr-2);
}
