body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: var(--clr-8);
    gap: 10px;
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    /* max-height: 100%; */
    transition: background-color 0.5s linear;
}

section {
    padding: 0.5rem 1rem;
}

#store {
    background-color: var(--clr-a2);
    color: white;
}

body.store-style {
    background-color: var(--clr-a2);
}

#inventory-store-container.dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.store-style h1, .store-style h2, .store-style label {
    color: white;
}

#summary-slider {
    width: 100%;
    height: 100%;
}

#inventory-store-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#inventory, #store {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 450px;
    height: 100%;
    min-height: 300px;
    align-items: center;
    border-radius: 15px;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

#inv-add {
    background-color: var(--clr-1);
    color: var(--clr-9);
    border-style: solid;
    border-color: black;
    width: max(30%, 200px);
    justify-self: center;
}

#inv-add-form {
    background-color: var(--clr-5);
    border: 2px solid slategrey;
    padding: 1rem 0.5rem;
    align-self: stretch;
}

#inv-add-form fieldset {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
    row-gap: 5px;
}

#inv-add-form input[type="number"] {
    max-width: 3rem;
}

#inv-add-form input[type="date"] {
    max-width: 8rem;
}

#inv-add:hover {
    background-color: var(--clr-5);
    color: var(--clr-1);
}

.inventory-item {
    display: flex;
    flex-wrap: nowrap;
    color: gainsboro;
    gap: 10px;
    align-self: stretch;
    background-color: var(--clr-3);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.inventory-item-delete-button {
    background-image: url("/images/trash-icon.png"); 
    border-style: none; 
    background-color: #ecfdf57f; 
    width: 22px; 
    height: min(25px, 100%); 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 5px;
    border-radius: 5px;
}

.inventory-item-delete-button:hover {
    background-color: var(--clr-10);
}

.inventory-item-sublabel {
    color: lightgrey;
}

.inventory-item-sublabel.suspended {
    color: var(--clr-8);
}

.inventory-item.out-of-stock {
    background-color: maroon;
}

.inventory-item.suspended {
    opacity: 40%;
    background-color: grey;
}

.dual #inventory {
    background-color: var(--clr-6);
}

#fridge-store-button {
    align-self: stretch;
    display: flex;
    height: fit-content;
    padding: 2px;
    justify-content: center;
}

#fridge-store-button button {
    outline: 2px solid black;
    border: none;
    font-weight: bold;
    font-size: 16px;
    width: 8rem;
    padding: 0.5rem 1rem;
    opacity: 50%;
}

#fridge-store-button button.toggled {
    opacity: 100%;
    color: white;
}

#toggle-store-btn {
    background-color: var(--clr-a2);
}

#toggle-fridge-btn {
    background-color: var(--clr-3);
}

#fridge-store-button button:hover {
    opacity: 95%;
    outline-color: white;
}

.summary-hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 100%;
}

#fridge-header:not(.hidden), #store-header:not(.hidden) {
    position: sitcky;
}

header .connection {
    display: flex;
    gap: 10px;
    align-content: center;
}

header .closed {
    color: red;
}

.connected {
    color: var(--clr-2);
}
